{% extends 'base.html' %}
{% block content %}
<h1>Detail</h1>
<hr>
<h3>제목 : {{article.title}}</h3>
<p>내용 : {{article.content}}</p>
<p>수정일자 : {{article.updated_at}} </p>
<p>생성일자 : {{article.created_at}} </p>
<hr>
<a href="{% url 'articles:index' %}"class = 'btn btn-primary'>BACK</a>
<a href="{% url 'articles:update' article.pk%}" class = 'btn btn-primary'>수정하기</a>
<form action="{% url 'articles:delete' article.pk %}" method='POST'>
{% csrf_token %}
<button class = 'btn btn-primary'>삭제</button>
</form>
{% endblock content %}